<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign Up</h5>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), calss: 'form-signin') do |f| %>
          <%-#= render "devise/shared/error_messages", resource: resource %>

          <div class="form-label-group">
            <%= f.email_field :email, autocomplete: "email", class: 'form-control', required: true %>
            <%= f.label :email %>
          </div>

          <div class="form-label-group">
            <%= f.text_field :first_name, class: 'form-control', required: true %>
            <%= f.label :first_name %>
          </div>

          <div class="form-label-group">
            <%= f.text_field :last_name, class: 'form-control', required: true %>
            <%= f.label :last_name %>
          </div>

          <div class="form-label-group">
            <%= f.number_field :age, min: 1, max: 100, class: 'form-control' %>
            <%= f.label :age %>
          </div>

          <div class="form-label-group">
            <%= f.select :country, options_for_select(country_options), { :include_blank => 'Select Country' }, :required => true, class: 'form-control' %>
          </div>

          <div class="form-label-group">
            <%= f.select :gender, options_for_select(gender_options), { :include_blank => 'Select Gender' }, class: 'form-control' %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>

          <div class="form-label-group">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true %>
            <%= f.label :password_confirmation %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block text-uppercase' %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>