<%= form_tag(users_path, :method => "get",   
    class: 'navbar-form navbar-left', style: "display: block ruby;") do %>  
  <div class="form-group col-sm-3 col-md-3 col-lg-3 mx-auto">
    <%= text_field_tag 'search[age]', '', class: "form-control", placeholder: "Enter age" %>
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3 mx-auto">
    <%= select_tag 'search[gender]', options_for_select(gender_options, params.try(:[], :search).try(:[], :gender)), { :include_blank => 'Gender', class: 'form-control', style: "border-radius: 0px !important; height: 34px !important;" } %>
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3 mx-auto">
    <%= select_tag 'search[country]', options_for_select(country_options, params.try(:[], :search).try(:[], :country)), { :include_blank => 'Country', class: 'form-control', style: "border-radius: 0px !important; height: 34px !important;" } %>
  </div>
  <div class="form-group col-sm-3 col-md-3 col-lg-3 mx-auto">
    <%= submit_tag 'Search', class: "btn btn-info" %>
  </div>
<% end %>