<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Users Listing</h5>
        <%= render 'search_form' %>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Name

              </th>
              <th class="th-sm">Email

              </th>
              <th class="th-sm">Gender

              </th>
              <th class="th-sm">Age

              </th>
              <th class="th-sm">Country

              </th>
              <th class="th-sm">Registered date

              </th>
            </tr>
          </thead>
          <tbody>
            <%- @users.each do |user| %>
              <tr>
                <td><%= user.full_name %></td>
                <td><%= user.email %></td>
                <td><%= user.gender %></td>
                <td><%= user.age %></td>
                <td><%= user.country %></td>
                <td><%= date_formatter(user.created_at) %></td>
              </tr>
            <% end %>
          </tbody>
          <% if @user.present? %>
            <tfoot>
              <tr>
                <th>Name
                </th>
                <th>Email
                </th>
                <th>Gender
                </th>
                <th>Age
                </th>
                <th>Country
                </th>
                <th>Registered Date
                </th>
              </tr>
            </tfoot>
            <% end %>
        </table>
        <%= will_paginate @users %>
      </div>
    </div>
  </div>
</div>
