<!doctype html>
<html lang="en">
  <head>
    <title>ZeidlerAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, method: :get, class: "nav-link" %>
            </li>
          <% else %>
            <% if params[:controller] != 'devise/registrations' %>
              <li class="nav-item #{(params[:controller] == 'devise/registrations')? 'active' : ''}">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
            <% if params[:controller] != 'devise/sessions' %>
              <li class="nav-item #{(params[:controller] == 'devise/sessions')? 'active' : ''}">
                <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </nav>
      <%= yield %>
    </div>  
  </body>
</html>
